<!doctype html>
<html lang="en">

  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta property="og:title" content="First Class 頭等倉運動空間">
    <meta property="og:description" name="description" content="First Class 頭等倉運動空間推出多元運動為方向的規劃，除了一對一私人教練課、體態評估、團體課程等，也歡迎自由教練場租，另提供教練新媒體行銷推廣。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tpfc-finess.com">
    <meta property="og:image" content="https://tpfc-finess.comstatic/img/FB_share.png">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="First Class 頭等倉運動空間">
    <title>First Class 頭等倉運動空間</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="canonical" href="https://tpfc-finess.com">
    <link rel="alternate" href="https://tpfc-finess.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400..900&display=swap" rel="stylesheet">
    <script>
      ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
          n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '420754771004769');
      fbq('track', 'PageView');
    </script><noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=420754771004769&ev=PageView&noscript=1" /></noscript>
    <link href="/tpfc.fitness/assets/css/index.css?a06ee970" rel="stylesheet">
  </head>

  <body>
    <div class="l-wrap relative flex flex-col min-h-screen bg-[var(--black)] jWrap" @vue:mounted="mounted">
      <div class="l-hd flex-shrink-0 top-0 fixed w-full jHd">
        <header class="m-hd p:h-[72px] p:px-[20px] t:px-[15px] m:px-[10px] tm:h-[70px] w-full flex items-center bg-[var(--black)]">
          <h1 class="flex-grow flex items-center"><a href="./" class="m-hd-logo pt:inline-block m:flex m:items-center" rel="noopener" data-aos="fade-in"><svg class="text-[var(--white)] p:w-[260px] p:h-[55px] t:w-[216px] t:h-[60px] m:w-[180px] m:h-[50px]">
                <use class="fill-current" xlink:href="#logo_sub"></use>
              </svg> <em class="sr-only">first class 頭等倉運動空間</em></a></h1>
          <div class="m-nav flex flex-row-reverse items-center text-center pt:flex-shrink-0"><button aria-label="menu" type="button" class="m-nav-btn relative p:hidden tm:block h-[40px] w-[40px] flex-shrink-0 z-10" :class="{'active': store.nav.active}" @click="store.nav.onClick"><i></i></button>
            <div class="m-nav-bd tm:absolute tm:right-0 tm:top-0 tm:h-screen tm:w-full tm:flex tm:justify-center tm:overflow-hidden tm:bg-[var(--black)] tm:transition-all tm:duration-300 tm:ease-in-out" :class="[store.nav.active ? 'tm:translate-x-0 tm:z-[5]' : 'tm:translate-x-full']">
              <ul class="flex tm:flex-col items-center tm:justify-center">
                <li class="p:px-[10px] text-[var(--white)] tm:py-[18px]" v-for="item, index in store.nav.items"><a v-if="item.navShow" :href="item.url" class="t:text-[28px] m:text-[24px] tracking-[-0.1em]" :class="{'tm:underline tm:underline-offset-8': store.nowPage === item.url}">{{ item.label }}</a></li>
              </ul>
            </div>
          </div>
        </header>
        <div class="m-marquee"><em>凡首次購買，一對一私教人教練課 <b>10</b> 堂 <b>8,000</b> 元，完課期間到館自主訓練免費</em></div>
      </div>
      <div data-aos="fade-in" class="l-main flex flex-grow is-head">
        <div class="l-content flex-grow overflow-hidden relative bg-[var(--black)]" v-if="store.load.isDone">
          <div class="h-full">
            <section class="kv w-full flex flex-col items-center p:p-[80px] tm:p-[30px]">
              <h2 data-aos="fade-up" class="kv-title text-[var(--white)] p:font-black tm:font-bold tracking-[-0.05em] p:text-[82px] tm:text-[40px] order-2">頭等倉運動空間</h2><svg class="text-[var(--white)] p:w-[68px] p:h-[60px] tm:w-[60px] tm:h-[54px] order-1">
                <use class="fill-current" xlink:href="#logo"></use>
              </svg>
              <h3 data-aos="fade-up" class="text-[var(--white)] p:font-black tm:font-bold tracking-[-0.05em] p:text-[30px] tm:text-[24px] tm:mt-[10px] order-3">肌力強化。體態改善。<br class="p:hidden">減脂課程。專項訓練</h3><a data-aos="fade-up" href="https://docs.google.com/forms/d/e/1FAIpQLSdyIMF1EHcdkUKsr6EY7b3o6dQgXuQfB6XiKzTJqid_7FO0Bg/viewform" target="_blank" rel="noopener" class="m-btn --border order-4 p:text-[18px] p:w-[244px] mt-[30px] p:h-[45px] t:w-[216px] t:h-[60px] m:w-[140px] m:h-[46px]" @click="">
                <div class="m-btn-cnt flex items-center justify-center relative"><em class="m-btn-txt">即刻預約</em></div>
              </a>
            </section>
            <section class="flex tm:flex-col">
              <div class="tm:order-2 flex justify-center items-center p:w-1/2 text-[var(--white)] p:p-[60px] tm:p-[34px] bg-[var(--black)]">
                <div data-aos="fade-right" class="p:w-[400px]">
                  <h2 class="font-bold p:text-[48px] tm:text-[30px] tm:text-center leading-[1.2] tracking-[-0.03em]">用自由的心態<br>​打造完美的體態</h2>
                  <p class="p:mt-[30px] tm:mt-[24px] text-[14px]">我們相當重視教練與學員間的互動，在訓練計畫中，我<br class="tm:hidden">們的教練不僅透過視覺、聽覺，並施以協助動能來輔以<br class="tm:hidden">更優化的動作回饋，讓您以最高效的方式達成最好的學<br class="tm:hidden">習效果。</p><a href="/ourteam.html" class="m-btn --border order-4 p:text-[18px] p:w-[244px] mt-[30px] p:h-[45px] tm:w-[205px] tm:h-[45px] tm:mx-auto tm:mb-[20px]" @click="">
                    <div class="m-btn-cnt flex items-center justify-center relative"><em class="m-btn-txt">專業團隊</em></div><span class="m-btn-icon w-[45px]"><svg class="p:w-[18px] p:h-[18px] tm:w-[24px] tm:h-[24px]"><use class="fill-current" xlink:href="#arrow"></use></svg></span>
                  </a>
                </div>
              </div>
              <div class="tm:order-1 p:w-1/2">
                <figure class="w-full h-full"><img class="object-cover object-center lazy" alt="室內訓練環境 | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/firstclass_fitness_indoor.jpg?ff929a3a"></figure>
              </div>
            </section>
            <section class="text-[var(--white)] bg-[var(--x1f1d)] p:p-[80px] tm:py-[42px] tm:px-[20px]">
              <div data-aos="fade-right" class="p:flex p:items-center p:max-w-[1400px]">
                <h2 class="p:flex-shrink-0 tracking-[-0.05em] font-black p:text-[72px] tm:text-[42px] tm:text-center">課程規劃</h2>
                <div class="p:flex-grow tm:pt-[20px]">
                  <p class="p:ml-[80px] p:w-[490px] text-[14px]">一對一私人教練、團體課程、體態評估、筋膜放鬆、自由教練場租、舞蹈班場地租借等，我們試圖不斷開發多元服務，並提供來自頭等倉的所有教練與學員細緻的服務與完整的行銷規劃，讓一切事半功倍。</p>
                </div><a href="/service.html" class="m-btn --border p:flex-shrink-0 p:self-end p:text-[18px] p:w-[244px] p:h-[45px] tm:mx-auto tm:w-[205px] tm:h-[45px]" @click="">
                  <div class="m-btn-cnt flex items-center justify-center relative"><em class="m-btn-txt">課程項目</em></div><span class="m-btn-icon w-[45px]"><svg class="p:w-[18px] p:h-[18px] tm:w-[24px] tm:h-[24px]"><use class="fill-current" xlink:href="#arrow"></use></svg></span>
                </a>
              </div>
            </section>
            <section class="p:p-[20px] bg-[var(--black)] text-[var(--white)]">
              <h2 class="p:font-bold p:text-[48px] tm:sr-only">instargram 文章</h2>
              <div class="text-center p:hidden tm:p-[40px]"><a href="https://www.instagram.com/tpfc.fitness/" target="_blank" rel="noopener" class="block overflow-hidden rounded-full w-[90px] h-[90px] mx-auto mb-[10px] border border-solid border-[var(--white)]">
                  <figure class="w-full h-full"><img class="object-cover object-center lazy" alt="instagram image | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/ig_profile.jpg?c0de203e"></figure>
                </a><a href="https://www.instagram.com/tpfc.fitness/" target="_blank" rel="noopener" class="text-[20px] text-[var(--white)]">tpfc.fitness </a><a href="https://www.instagram.com/tpfc.fitness/" target="_blank" rel="noopener" class="m-btn --border mt-[30px] tm:w-[205px] tm:h-[45px] tm:mx-auto" @click="">
                  <div class="m-btn-cnt flex items-center justify-center relative"><em class="m-btn-txt">Follow us</em></div><span class="m-btn-icon w-[45px]"><svg class="tm:w-[20px] tm:h-[20px]"><use class="fill-current" xlink:href="#logo_ig"></use></svg></span>
                </a></div>
              <ul class="flex flex-wrap tm:p-[4px]">
                <li v-for="item, index in store.post" class="p-[4px] p:w-1/4 t:w-1/2 overflow-hidden"><a :href="item.link" target="_blank" rel="noopener" class="m-post relative">
                    <h3 class="sr-only">{{ item.title }}</h3>
                    <figure class="w-full h-full m:w-[360px] m:h-[360px]"><img class="object-cover object-center lazy" :alt="`${item.alt} | first class 頭等倉運動空間`" :src="item.img"></figure>
                    <p class="m-post-hover absolute top-0 left-0 w-full h-full backdrop-blur-sm bg-[#fff] bg-opacity-60 font-bold text-[var(--black)] p:p-[30px] p:text-[16px] p:leading-normal" v-html="item.cnt"></p>
                  </a></li>
              </ul>
            </section>
            <section class="p:p-[30px] bg-[var(--black)] text-[var(--white)] tm:border-[var(--x1f1d)] tm:border-solid tm:border-t-[1px]">
              <h2 class="font-bold p:text-[48px] tm:text-[30px] text-center m:pt-[30px]">學員推薦</h2>
              <ul class="p:flex p:flex-wrap p:h-full">
                <li v-for="item, index in store.comment" :class="{ 'p:border-r-[1px] tm:border-b-[1px] border-solid tm:border-[var(--white)]': index !== store.comment.length -1}" class="p:w-1/3">
                  <div class="text-right p:max-w-[420px] p:px-[30px] tm:p-[20px]">
                    <p data-aos="fade-up" class="text-left p:text-[18px] tm:text-[20px] p:my-[40px] tm:py-[10px]" v-html="item.cnt"></p><em data-aos="fade-up" class="font-bold text-[20px]">{{ item.name }}</em>
                  </div>
                </li>
              </ul>
            </section>
            <ul class="pt:flex pt:flex-wrap">
              <li class="p:w-1/3 t:w-1/2">
                <figure class="w-full h-full"><img class="lazy" alt="史密斯機、夾胸機、背部下拉訓練機 | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/firstclass_fitness_indoor.jpg?c0de203e"></figure>
              </li>
              <li class="p:w-1/3 t:w-1/2">
                <figure class="w-full h-full"><img class="lazy" alt="室內訓練環境 | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/firstclass_fitness_indoor2.jpg?c0de203e"></figure>
              </li>
              <li class="p:w-1/3 t:w-1/2">
                <figure class="w-full h-full"><img class="lazy" alt="有氧器材 | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/firstclass_fitness_indoor3.jpg?c0de203e"></figure>
              </li>
              <li class="p:w-1/3 t:w-1/2">
                <figure class="w-full h-full"><img class="lazy" alt="跳箱、啞鈴器材 | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/firstclass_fitness_indoor4.jpg?1b1b3f98"></figure>
              </li>
              <li class="p:w-1/3 t:w-1/2">
                <figure class="w-full h-full"><img class="lazy" alt="啞鈴器材重量 | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/firstclass_fitness_indoor5.jpg?1b1b3f98"></figure>
              </li>
              <li class="p:w-1/3 t:w-1/2">
                <figure class="w-full h-full"><img class="lazy" alt="洗手間、淋浴間環境 | first class 頭等倉運動空間" width="100%" height="100%" src="/tpfc.fitness/assets/img/index/firstclass_fitness_bathroom.jpg?1b1b3f98"></figure>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-loading pt:py-[40px] m:py-[30px] mx-auto flex flex-col items-center justify-center fixed" v-if="!store.load.isDone"><svg class="m-loading-svg pt:w-[120px] pt:h-[120px] m:w-[80px] m:h-[80px] fill-current text-[#b3ce2b]" viewBox="0 0 48 48">
            <circle cx="24" cy="4" r="4" />
            <circle cx="12.19" cy="7.86" r="3.7" class="opacity-90" />
            <circle cx="5.02" cy="17.68" r="3.4" class="opacity-80" />
            <circle cx="5.02" cy="30.32" r="3.1" class="opacity-70" />
            <circle cx="12.19" cy="40.14" r="2.8" class="opacity-60" />
            <circle cx="24" cy="44" r="2.5" class="opacity-50" />
            <circle cx="35.81" cy="40.14" r="2.2" class="opacity-40" />
            <circle cx="42.98" cy="30.32" r="1.9" class="opacity-30" />
            <circle cx="42.98" cy="17.68" r="1.6" class="opacity-20" />
            <circle cx="35.81" cy="7.86" r="1.3" class="opacity-10" />
          </svg></div>
      </div>
      <div class="l-ft flex-shrink-0 relative bg-[var(--x15)] text-[var(--white)]">
        <footer class="m-ft p:px-[50px] p:pt-[50px] tm:px-[40px] tm:pt-[30px]">
          <div class="p:flex p:justify-between p:pl-[30px]">
            <div data-aos="fade-right" class="tm:flex tm:flex-col tm:items-center p:w-[270px] tm:mb-[50px]">
              <h2 class="m-hd-logo p:inline-block m:flex m:items-center p:mb-[18px] tm:mb-[16px]"><svg class="text-[var(--white)] p:w-[260px] p:h-[55px] t:w-[216px] t:h-[60px] m:w-[180px] m:h-[50px]">
                  <use class="fill-current" xlink:href="#logo_sub"></use>
                </svg> <em class="sr-only">first class 頭等倉運動空間</em></h2>
              <p class="tm:text-center p:text-[12px] t:text-[20px] m:text-[14px] p:mb-[22px] tm:mb-[30px]">追蹤我們的社群媒體，每週都會有實質的內容與教學，降低更多的運動傷害，讓我們同步更好的訓練效益！</p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdyIMF1EHcdkUKsr6EY7b3o6dQgXuQfB6XiKzTJqid_7FO0Bg/viewform" target="_blank" rel="noopener" class="m-btn --border text-[18px] p:w-[144px] p:h-[38px] t:w-[216px] t:h-[60px] m:w-[180px] m:h-[50px]" @click="">
                <div class="m-btn-cnt flex items-center justify-center relative"><em class="m-btn-txt">即刻預約</em></div>
              </a>
            </div>
            <div data-aos="fade-in">
              <ul class="flex tm:flex-wrap">
                <li class="p:mx-[40px] tm:w-1/2">
                  <h4 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">網站導覽</h4>
                  <ul>
                    <li v-for="item, index in store.nav.items"><a :href="item.url" class="pt:text-[14px] m:text-[12px]">{{ item.label }}</a></li>
                  </ul>
                </li>
                <li class="p:mx-[40px] tm:w-1/2">
                  <h4 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">社群媒體</h4>
                  <ul>
                    <li><a href="https://www.facebook.com/tpfc.fit" class="pt:text-[14px] m:text-[12px]"><svg class="inline w-[16px] h-[16px] text-[var(--xc7)]">
                          <use class="fill-current" xlink:href="#logo_fb"></use>
                        </svg> Facebook</a></li>
                    <li><a href="https://www.instagram.com/tpfc.fitness/" class="pt:text-[14px] m:text-[12px]"><svg class="inline w-[16px] h-[16px] text-[var(--xc7)]">
                          <use class="fill-current" xlink:href="#logo_ig"></use>
                        </svg> Instagram</a></li>
                    <li><a href="http://www.tiktok.com/@tpcf.fit" class="pt:text-[14px] m:text-[12px]"><svg class="inline w-[16px] h-[16px] text-[var(--xc7)]">
                          <use class="fill-current" xlink:href="#logo_tiktok"></use>
                        </svg> TikTok</a></li>
                  </ul>
                </li>
                <li class="p:mx-[40px] tm:w-full tm:mt-[20px]">
                  <ul class="tm:flex">
                    <li class="tm:w-1/2">
                      <h4 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">營業時間</h4>
                      <p class="pt:text-[14px] m:text-[12px]">週一至週六（周日公休）</p>
                      <p class="pt:text-[14px] m:text-[12px]">下午 01 : 00 ~<br class="p:hidden">晚上 10 : 00</p>
                    </li>
                    <li class="p:mt-[40px] tm:w-1/2">
                      <h4 class="text-[var(--xc7)] font-bold p:mb-[8px] tm:mb-[6px] p:text-[20px] tm:text-[20px]">地址電話</h4><a class="block p:mb-[4px] tm:mb-[10px] pt:text-[14px] m:text-[12px]" href="tel:+886-2-25222330">(02)2522-2330</a> <a class="pt:text-[14px] m:text-[12px]" href="https://maps.app.goo.gl/XJrhGD2UgVfA9BrC6" target="_blank" rel="noopener">
                        <p class="leading-tight">104015<br>台北市中山區中山北路二段128巷32號1F</p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div><small class="m-ft-copyright block py-[24px] text-center text-[13px] m:px-[20px]">FIRST CLASS FITNESS © 2022 ALL RIGHT RESERVED.</small>
        </footer>
      </div>
    </div>
    <div class="l-n-sup">
      <div class="m-n-sup">
        <div class="m-n-sup-hd">
          <p class="m-n-sup-title"><b>很抱歉，您目前使用的瀏覽器無法支援瀏覽。</b></p>
          <p class="m-n-sup-description">建議您提升瀏覽器使用版本為 IE 10 (含) 以上，或使用其他瀏覽器軟體 Google Chrome、Firefox 以獲得最佳瀏覽體驗，謝謝您的配合。</p>
        </div>
        <div class="m-n-sup-bd">
          <div class="m-n-sup-msg">
            <p class="m-n-sup-msg-tit"><b>相關說明</b></p>
            <div class="m-n-sup-item">
              <p class="m-n-sup-item-title"><b>我如果不升級對於瀏覽上會有什麼影響？</b></p>
              <p class="m-n-sup-item-cnt">使用 IE 10 版本下的瀏覽器瀏覽本網站，可能部分網頁的呈現會有破圖或版面跑版的情況，某些網頁互動功能無法正確顯示與使用。</p>
            </div>
            <div class="m-n-sup-item">
              <p class="m-n-sup-item-tit"><b>我要如何升級我的瀏覽器？</b></p>
              <p class="m-n-sup-item-cnt">請您點擊以下連結，下載並升級您的 IE 瀏覽器，或下載 Google Chrome、Firefox 瀏覽器。</p>
            </div>
          </div>
          <div class="m-n-sup-fig-list">
            <ul>
              <li><a href="https://www.microsoft.com/zh-tw/edge?form=MA13DG&amp;ocid=SMCIEDownload10-Download" class="m-n-sup-fig --edge">
                  <p class="m-n-sup-description">Microsoft Edge</p>
                </a></li>
              <li><a href="https://www.google.com.tw/chrome/browser/desktop/" class="m-n-sup-fig --chrome">
                  <p class="m-n-sup-description">Google Chrome</p>
                </a></li>
              <li><a href="https://www.mozilla.org/zh-TW/firefox/new/" class="m-n-sup-fig --firefox">
                  <p class="m-n-sup-description">Mozilla Firefox</p>
                </a></li>
            </ul>
          </div>
        </div>
        <div class="m-n-sup-ft">
          <div class="m-n-sup-copyright">
            <p class="m-n-sup-info">FIRST CLASS FITNESS © 2022 ALL RIGHT RESERVED.</p>
            <p class="m-n-sup-browser">IE 10+, Chrome, Safari, Firefox</p>
          </div>
        </div>
      </div>
    </div>
    <script src="static/scripts/plugin/jquery-3.7.0.min.js?b0dda04d"></script>
    <script src="static/scripts/plugin/petite-vue@0.4.1/petite-vue.iife.js?b0dda04d"></script>
    <script defer="defer" src="/tpfc.fitness/scripts/index.js?a06ee970"></script>
  </body>

</html>