<section class="overflow-hidden text-[var(--white)] bg-[var(--black)] flex tm:flex-col p:items-center p:max-h-[345px] p:border-b-[1px] border-solid border-[var(--white)]">
  <div class="p:w-2/3 tm:order-2 tm:border-y-[1px] border-solid border-[var(--x6)]">
    <div class="mx-auto p:max-w-[490px]">
      <h2 data-aos="fade-right" class="leading-[1.2] font-black p:text-[40px] p:mb-[30px] tm:text-center t:text-[42px] m:text-[26px] t:py-[50px] m:py-[34px]">COME AND JOIN US<br/>與頭等倉一同啟程</h2>
    </div>
  </div>
  <div class="p:w-1/3 t:hidden m:order-1 p:border-l-[1px] border-solid border-[var(--white)]">
    <%- require('img.ejs')({
      path: require('@imgs/contact/firstclass_fitness_equipments.jpeg'),
      alt : '槓片陳設',
      style: {
        main: 'w-full h-full',
        img: 'object-cover object-center'
      },
      fadeType: 'fade-in'
    }) %>
  </div>
</section>
<section class="contact-bd flex justify-center items-center p:p-[60px] p:min-h-[650px] tm:px-[20px] tm:py-[40px]">
  <div data-aos="fade-in" class="text-[var(--white)] bg-[var(--black)] p:p-[80px] p:min-w-[600px] p:min-h-[400px] p:max-w-[800px] text-center tm:p-[20px]">
    <h3 class="font-bold leading-none p:text-[48px] p:mb-[20px] tm:text-[32px] tm:mb-[14px]">預約諮詢、體驗</h3>
    <p class="p:text-[15px] tm:text-[16px]">​若對於頭等倉運動空間有任何建議，<br class="p:hidden"/>歡迎來信至 <a href="mailto:tpfc.fit@gmail.com" class="underline font-bold p:text-[18px]">tpfc.fit@gmail.com</a><br/>若有任何合作方案、異業結盟、公關申請等，也歡迎至場館或來信與我們聯繫。</p>
    <i class="block border-[1px] border-solid border-[var(--white)] p:mt-[10px] p:mb-[20px] tm:mt-[16px] tm:mb-[20px]"></i>
    <p class="font-bold p:mb-[10px] p:text-[18px] tm:text-[16px] tm:mb-[12px]">若想快速預約體驗<br/>▼ 請填寫送出下方表單 ▼</p>
    <!-- <%- require('@component/mBtn.ejs')({
      label: '即刻預約',
      link: 'https://docs.google.com/forms/d/e/1FAIpQLSdyIMF1EHcdkUKsr6EY7b3o6dQgXuQfB6XiKzTJqid_7FO0Bg/viewform',
      style: {
        main: '--contain mx-auto p:text-[18px] text-[var(--white)] p:w-[270px] p:h-[50px] t:w-[216px] t:h-[60px] m:w-[140px] m:h-[46px]'
      }
    }) %> -->
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSenm1W9oA_bHL_zbAMs4fedYuzPiFC8eAOnCz3toDMG3wbGRw/viewform?embedded=true" class="pt:w-[640px] pt:h-[400px] m:w-[340px] m:h-[500px]" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
  </div>
</section>
