<section class="p:pt-[20px] text-[var(--white)] bg-[var(--black)] flex tm:flex-col items-center m:py-[30px] m:px-[20px]">
  <div data-aos="fade-up" class="text-center p:w-1/4 t:py-[50px] t:w-full t:border-b-[1px] t:border-solid t:border-[var(--white)] m:sr-only">
    <h2 class="inline-block p:rotate-[270deg] p:text-left leading-[1.2] font-black p:text-[40px] t:text-[52px]">交通資訊</h2>
  </div>
  <div class="p:border-l-[1px] border-solid border-[var(--white)] p:w-3/4 t:py-[30px]">
    <div data-aos="fade-in" class="mx-auto p:w-[454px] p:mb-[80px]">
      <h3 class="font-bold p:text-[26px] p:mb-[40px] tm:text-[24px] tm:mb-[20px]">FIRST CLASS FITNESS<br/>頭等倉運動空間 中山店</h3>
      <ul class="p:space-y-[36px] tm:space-y-[16px]">
        <li v-for="item in store.information">
          <h3 class="font-bold p:mb-[12px] p:text-[18px] tm:text-[20px]" v-html="item.title"></h3>
          <p class="p:text-[16px] tm:text-[14px]" v-html="item.cnt"></p>
        </li>
      </ul>
    </div>
  </div>
</section>