<section class="border-b-[1px] border-solid p:border-[var(--white)] tm:border-[var(--x6)] text-[var(--white)] bg-[var(--black)] flex tm:flex-col items-center p:max-h-[345px]">
  <div class="text-center p:w-2/3">
    <h2 data-aos="fade-right" class="inline-block p:text-left leading-[1.2] font-black p:text-[50px] tm:text-[32px] tm:py-[24px]">教練團隊<br/>TRAINER <br class="p:hidden"/>GROUP</h2>
  </div>
  <div class="p:border-l-[1px] border-solid border-[var(--white)] p:w-1/3 p:py-[65px] p:px-[20px] tm:border-t-[1px] tm:py-[28px] tm:px-[20px]">
    <ul data-aos="fade-in" class="w-fit mx-auto p:space-y-[16px] tm:space-y-[16px]">
      <li v-for="item in store.traning">
        <h3 class="font-bold p:text-[18px] tm:text-[20px]">{{item.title}}</h3>
        <p class="p:text-[12px] tm:text-[14px]" v-html="item.cnt"></p>
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="text-[var(--white)] text-center bg-[var(--x15)] p:py-[32px]">
    <h2 class="inline-block p:text-left leading-[1.2] font-black p:text-[40px] tm:text-[32px] tm:py-[24px]">一對一私人教練</h2>
  </div>
  <ul class="flex p:justify-center tm:flex-col tm:items-center p:pt-[36px] pb-[72px] p:space-x-[50px] bg-[var(--x6)] tm:space-y-[100px] tm:pt-[30px]">
    <li v-for="item in store.coach" class="relative">
      <figure class="p:w-[270px] p:h-[324px] tm:w-[258px] tm:h-[340px]">
        <img class="object-cover object-right lazy" :alt="`${item.job}-${item.name} | first class 頭等倉運動空間`" :src="item.img">
      </figure>
      <div class="absolute bottom-0 right-0 translate-y-1/2 text-[var(--white)] bg-[var(--black)] p:min-w-[214px] p:py-[14px] p:px-[10px] tm:min-w-[206px] tm:py-[13px] tm:px-[12px] tm:mr-[-20px]">
        <p class="font-bold p:text-[20px] p:mb-[4px] tm:text-[18px] tm:mb-[8px]">{{item.name}}</p>
        <em class="text-[16px]">{{item.job}}</em>
      </div>
    </li>
  </ul>
</section>