<section class="overflow-hidden bg-[var(--x15)] flex tm:flex-col items-center p:max-h-[345px]">
  <h2 class="text-center text-[var(--white)] p:w-[48%] font-black p:text-[38px] t:text-[42px] m:text-[28px] t:py-[50px] m:py-[20px]">service<br/>課程項目</h2>
  <%- require('img.ejs')({
    path: require('@imgs/service/firstclass_fitness_indoor.jpg'),
    alt : '室內環境',
    style: {
      main: 'p:w-full p:h-full t:hidden m:w-[375px] m:h-[180px]',
      img: 'object-cover object-center'
    }
  }) %>
</section>
<section class="text-[var(--white)] bg-[var(--black)] p:p-[60px] t:w-[550px] t:mx-auto t:pt-[30px] m:pt-[14px]">
  <div class="p:mx-auto p:w-[900px]">
    <h3 data-aos="fade-up" class="font-bold p:text-[38px] p:mb-[20px] tm:text-[30px] tm:px-[30px] tm:mb-[16px]">為您量身打造最佳計畫</h3>
    <div class="p:flex">
      <div data-aos="fade-up" class="p:w-1/2 p:text-[14px] tm:px-[30px]">
        <p class="p:mb-[20px]">每個人的理想體態不同，<br>
          我們致力於了解你的個人需求，為你定制一套最合適的訓練計劃。<br>
          根據你的進展隨時調整課程與強度，不單只是幫助你達到目標，更希望你能夠享受健身的過程，培養持續運動的好習慣！</p>
      </div>
    </div>
  </div>
</section>
<section class="text-[var(--white)] bg-[var(--black)] p:px-[60px] pt:pb-[60px] t:w-[550px] t:mx-auto t:p-[30px] m:p-[20px] m:pb-[30px]">
  <ul class="mx-auto p:max-w-[1120px] p:space-y-[32px] t:space-y-[24px] m:space-y-[18px]">
    <li v-for="item, idx in store.service" key="item.title">
      <div data-aos="fade-in" class="p:flex p:items-center bg-[var(--x15)] p:max-h-[360px] overflow-hidden">
        <div class="m-slider p:w-1/2">
          <ul :class="`class-slider-${idx}`">
            <li v-for="img, index in item.imgs" :key="`${item.title}_img${index}`">
              <figure class="p:h-[360px]">
                <img class="object-cover object-right !w-full lazy" :alt="`${item.title} | first class 頭等倉運動空間`" :src="img">
              </figure>
            </li>
          </ul>
          <div :class="`m-slider-ctrl-${idx} m:hidden`">
            <button type="button" class="m-slider-prev">
              <span class="sr-only">prev</span>
            </button>
            <button type="button" class="m-slider-next">
              <span class="sr-only">next</span>
            </button>
          </div>
        </div>
        <div class="p:w-1/2 p:p-[42px] t:p-[32px] m:px-[14px] m:pt-[20px] m:pb-[14px]">
          <h3 class="font-bold p:text-[38px] p:mb-[30px] t:text-[30px] m:text-[28px] t:mb-[22px] m:mb-[8px]">{{item.title}} </h3>
          <p class="p:text-[14px] t:text-[16px] m:text-[14px]" v-html="item.cnt"/>
        </div>
      </div>
    </li>
  </ul>
</section>