.m-slider {
  @apply relative;
}

[class^="m-slider-ctrl"] {
  @apply w-full absolute top-1/2 -translate-y-1/2 flex justify-between items-center pt:px-[10px] m:px-[8px];
}

.m-slider-prev,
.m-slider-next {
  background-color: rgba(#fff, 0.3);
  
  @apply relative flex justify-center items-center border-[#c9c9c9] border-solid border rounded-full pt:w-[50px] pt:h-[50px] m:w-[40px] m:h-[40px];

  &::before {
    content: '';
    width: 20px; /* 水平线的长度 */
    height: 2px; /* 水平线的厚度 */

    @apply absolute top-1/2 left-1/2 bg-[#c9c9c9] -translate-y-1/2 -translate-x-1/2 h-[1px] pt:w-[20px] m:w-[16px];
  }

  &::after {
    content: '';

    @apply absolute top-1/2 pt:left-[40px] m:left-[34px] border-[4px] border-solid border-transparent border-l-[#c9c9c9] -translate-x-full -translate-y-1/2;
  }
}

.m-slider-prev {
  @apply rotate-[-180deg];
}

.tns-outer {
  @apply relative;
}

.tns-nav {
  @apply flex absolute bottom-0 left-1/2 -translate-x-1/2 space-x-[4px];

  &>* {
    transition: background-color 0.3s ease-in;

    @apply bg-[var(--white)] pt:w-[40px] m:w-[30px] h-[2px];
  }
}

.tns-nav-active {
  @apply bg-[var(--x6)]
}
