<header class="m-hd p:h-[72px] p:px-[20px] t:px-[15px] m:px-[10px] tm:h-[70px] w-full flex items-center bg-[var(--black)]">
  <h1 class="flex-grow flex items-center">
    <a
      href="/"
      class="m-hd-logo pt:inline-block m:flex m:items-center"
      rel="noopener"
      data-aos="fade-in"
    >
      <%- require('@component/svg.ejs')({
        svgName: 'logo_sub',
        style: {
          main: 'text-[var(--white)] p:w-[260px] p:h-[55px] t:w-[216px] t:h-[60px] m:w-[180px] m:h-[50px]'
        }
      }) %>
      <em class="sr-only">
        <%- process.env.PROJECT_NAME %>
      </em>
    </a>
  </h1>
  <%- require('@component/mNav.ejs')() %>
</header>